<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiyinhui.exam.mapper.ExaminationThemeSectionMapper">

    <resultMap
            id="examinationPaperThemeSectionResult"
            type="ExaminationPaperThemeSection">
        <id property="id" column="examination_paper_theme_section_id" javaType="integer" jdbcType="INTEGER"/>
        <association property="examinationTheme" javaType="ExaminationTheme" resultMap="examinationThemeResult"/>
        <association property="section" javaType="Section" resultMap="sectionResult"/>
    </resultMap>

    <resultMap
            id="examinationThemeResult"
            type="ExaminationTheme"
            extends="com.jiyinhui.exam.mapper.ExaminationThemeMapper.examinationThemeResult">
    </resultMap>

    <resultMap
            id="sectionResult"
            type="Section"
            extends="com.jiyinhui.exam.mapper.SectionMapper.sectionResult">
    </resultMap>

    <resultMap
            id="subjectResult"
            type="Subject"
            extends="com.jiyinhui.exam.mapper.SubjectMapper.subjectResult"/>


    <sql id="examiationThemeColumns">
        <include refid="com.jiyinhui.exam.mapper.ExaminationThemeMapper.examiationThemeColumns"/>
    </sql>

    <sql id="subjectColumns">
        <include refid="com.jiyinhui.exam.mapper.SubjectMapper.subjectColumns"/>
    </sql>

    <sql id="sectionColumns">
        <include refid="com.jiyinhui.exam.mapper.SectionMapper.sectionColumns"/>
    </sql>

    <sql id="examinationPaperThemeSectionColumns">
        epts.id AS examination_paper_theme_section_id,
        epts.examination_theme_id AS examination_paper_theme_section_examination_theme_id,
        epts.section_id AS examination_paper_theme_section_section_id
    </sql>

    <insert
            id="createExamiationThemeSection"
            parameterType="ExaminationThemeSection">
        INSERT INTO t_examination_paper_theme_section(
            `examination_theme_id`,
            `section_id`
        ) VALUE (
            #{examinationThemeSection.examinationTheme.id, javaType=integer, jdbcType=INTEGER},
            #{examinationThemeSection.section.id, javaType=integer, jdbcType=INTEGER}
        )
    </insert>

    <select
            id="searchExaminationPaperThemeSectionByThemeId"
            parameterType="int"
            resultMap="examinationPaperThemeSectionResult">
          SELECT
              <include refid="examinationPaperThemeSectionColumns"/>,
              <include refid="sectionColumns"/>,
              <include refid="examiationThemeColumns"/>,
              <include refid="subjectColumns"/>
          FROM
              t_examination_paper_theme_section epts
          INNER JOIN t_examination_theme et ON et.id = epts.examination_theme_id
          INNER JOIN t_section sec ON sec.id = epts.section_id
          INNER JOIN t_subject sub ON et.subject_id
          <where>
              et.id = #{themeId, javaType=integer, jdbcType=INTEGER}
          </where>
    </select>

    <delete id="deleteExaminationThemeSectionByThemeId"
            parameterType="int">
        DELETE FROM t_examination_paper_theme_section
        <where>
            `examination_theme_id` = #{themeId, javaType=integer, jdbcType=INTEGER}
        </where>
    </delete>
</mapper>